<div class="col-sm-4"></div>
<div class="container col-sm-4">
	<form class="form-horizontal">
		<h3>Profil de {{user.entity.login}}</h3>
		<table class="table table-bordered">
			<tr>
				<th class="col-sm-6">Prénom</th>
				<td class="col-sm-6">{{user.entity.firstName}}</td>
			</tr>
			<tr>
				<th class="col-sm-6">Nom</th>
				<td class="col-sm-6">{{user.entity.lastName}}</td>
			</tr>
			<tr>
				<th class="col-sm-6">Email</th>
				<td class="col-sm-6">{{user.entity.email}}</td>
			</tr>
			<tr>
				<th class="col-sm-6">Numéro de téléphone</th>
				<td class="col-sm-6">{{user.entity.telephone}}</td>
			</tr>									
		</table>
	</form>
</div>
<div class="col-sm-4"></div>
