<div class="col-sm-4"></div>
<div class="container col-sm-4">
	<form class="form-horizontal" name="signupForm" ng-submit="signUp()"
		novalidate>
		<div class="form-group">
			<label for="inputFirstName">Prénom *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>
				<input type="text" class="form-control" id="inputFirstName"
					placeholder="votre prénom" ng-model="profil.firstName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputLastName">Nom *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>
				<input type="text" class="form-control" id="inputLastName"
					placeholder="votre nom" ng-model="profil.lastName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail">Email *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</div>
				<input type="text" class="form-control" id="inputEmail"
					placeholder="votre e-mail" ng-model="profil.email" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputLogin">Login *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>
				<input type="text" class="form-control" id="inputLogin"
					placeholder="votre futur login" ng-model="profil.login" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword">Mot de passe *</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</div>
				<input type="password" class="form-control" id="inputPassword"
					placeholder="votre futur mot de passe" ng-model="profil.password"
					required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputTelephone">Numéro de téléphone</label>
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-earphone"></span>
				</div>
				<input type="text" class="form-control" id="inputTelephone"
					placeholder="votre numéro de téléphone" ng-model="profil.telephone">
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" disabled="disabled"
				ng-disabled="signupForm.$invalid">Sauvegarder</button>
		</div>
		<div class="form-group">
			<a ng-click="goToSignIn()" style="cursor: pointer;">J'ai déjà un
				compte</a>
		</div>
	</form>
</div>
<div class="col-sm-4"></div>